<% include partials/header.ejs %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="margin-top: 50px;">
                <h1>Insert Data</h1>
                <form method="post">
                    <input type="text" class="form-control" name="name" value="<%= book.name %>" placeholder="Name"><br><br>
                    <input type="text" class="form-control" name="email" value="<%= book.email %>" placeholder="Email"><br><br>
                    <input type="text" class="form-control" name="password" value="<%= book.password %>" placeholder="Password"><br><br>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <% include partials/footer.ejs %>
    <% var name = book.name; %>
    <script>
        var geti = '<%= name %>';
        $(function(){
            console.log("name : "+geti);
        })
    </script>
    
</body>
</html>



