<% include partials/header.ejs %>

<body>
    <div class="container">
        <h1 class="text-center">Display Data</h1>
        
        <a href="/form" class="btn btn-primary" style="margin-bottom: 20px;width: 20%;">Add</a>
        <input type="text" class="form-control" id="srch" placeholder="Search" style="width: 50%;margin-bottom: 20px;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% var i = 1 %>
                <% data.forEach(function(item) { %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.password %></td>
                    <td>
                        <a class="btn btn-success edit" href="/edit?id=<%= item.id %>">Edit</a>
                        <a class="btn btn-danger" href="/delete?id=<%= item.id %>">Delete</a>                       
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <% include partials/footer.ejs %>
</body>

</html>